            h1, h2, h3 {
                text-align: center;
                font-family: "Rockwell", serif;
                color: darkslategray;
            }

            h1 {
                font-size: 5em;
                margin-bottom: -10px;
            }

            h2 {
                font-size: 2em;
            }

            h3 {
                font-size: 1.2em;
            }

            body {
                width: 100%;
                margin: auto;
                /*background-image: url("images/animated-fish-gif-3.gif");*/
                background-color: #5CE6E9;

            }

            .header img {
              float: left;
              padding-top: 50px;
              padding-right: 15px;

            }

            .header h1 {
              position: relative;
              float: left;
            }

            .centered {
                text-align: center;
            }

            .centerd button{

            }

            #abt {
              text-align: center;
              padding-top: 200px;
              padding-left: 100px;
              padding-right: 100px;
            }

            fieldset {
              border-color: #1B4545;
              border-radius: 1em;
              padding-bottom: 20px;
            }

            table {
              table-layout: fixed;
              width: 100%;
            }

            #chkbx {
              padding-top: 200px;
            }

            /* code for horizontal menu*/

            #nav{
              padding:0;
              margin-right: 20px;
            }

            #nav li{
              display: inline;
            }

            #nav li a{
              font-family:"Times New Roman", serif;
              font-size: 1.3em;
              text-decoration: none;
              float: right;
              padding-top: 14px;
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 30px;
              /*background-color: #333333;*/
              color:#ffffff;
              /*border-bottom-color: #000000;
              border-bottom-style: solid;*/

            }

            #nav li a:hover{
              background-color: #14C6C6;
              padding-bottom: 12px;
              border-bottom: 2px;
            /*  border-bottom-color: #000000;
              border-bottom-style: solid; */
              margin: -1px;
            }

            #profile {
                padding-top: 80px;
                margin-bottom: -20px;
            }

            #rounded {
                width: 200px;
                border-radius: 10em;
            }

            #name {
                margin-bottom: -10px;
            }


            .white {
                color: white;
            }


            p, a {
                color: darkslategray;
                text-align: center;
                font-family: sans-serif;
                font-size: .9em;
            }

            th {
                text-align: left;
            }
